$RECYCLE.BIN/
*.cab
*.doc
*.docx
*.lnk
*.log
*.msg
*.msi
*.msix
*.msm
*.msp
*.pages
*.rtf
*.stackdump
*.txt
*.wpd
*.wps
*~
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.com.apple.timemachine.donotpresent
.directory
.DocumentRevisions-V100
.DS_Store
.fseventsd
.fuse_hidden*
.LSOverride
.nfs*
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
[Dd]esktop.ini
ehthumbs.db
ehthumbs_vista.db
Icon
Network Trash Folder
Temporary Items
Thumbs.db
Thumbs.db:encryptable
